vls
*.code-workspace
build/*.deb
tests/protocol/trecv
tests/protocol/tsend
tests/configuration/tconfiguration
tests/features/tsyntax
tests/features/tdeclaration
tests/features/treferences
tests/features/tcompletion
tests/features/tdocument_symbol
tests/features/trename
tests/features/tdocument_highlight
tests/features/thover
tests/features/tsignature_help
